html {
  padding: 0px;
  margin: 0px;
  background-color: #f9f1bf;
}
h1 {
  text-align: center;
}
.BOTW img {
  height: 400px;
}
.BOTW {
  width: fit-content;
  margin: auto;
}
/* mediaqueries */
/* Mobile M */
@media only screen and (min-width: 375px) {
  .BOTW img {
    height: 120px;
  }
}
/* Mobile L */
/* Tablet */
/* Laptop */
